
html {
    margin: 15vh 0 0 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: "EB Garamond", serif;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #f5f5f5;
    color: black;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.layout-container {
    padding-top: 00px; /* Add padding to avoid overlap with navbar */
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
}

.column {
    flex: 1 1 400px;
    max-width: 1000px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem; /* Add small gap between title and blob */
    margin: 0;  /* Ensure consistent margin */
}

.vards {
    width: 100%;
    font-family: "EB Garamond", serif;
    font-size: 2rem;
    margin-bottom: 0; /* Reduce margin */
    color: black;
    text-decoration: none;
    font-weight: normal;
    text-align: left;
    bottom: -3rem;
    z-index: 1000;
}

.title{
    width: 100%;
    font-family: "hwt-aetna-extra-condensed", serif;
    font-size: 5rem;
    color: black;
    text-decoration: none;
    font-weight: normal;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 3rem;
    }
    
}

p{
    margin-bottom: 10px;
    font-size: 1.5rem;
    line-height: 1.7rem;
    letter-spacing: 0.3px;
    text-align: justify;
}

@media (max-width: 768px) {
    .title-page {
        display: none;
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

.november{
    font-family: "hwt-aetna-extra-condensed", serif;
    font-size: 3rem;
    color: black;
    text-decoration: none;
    font-weight: normal;
    text-align: center;
}